
.view-btn {
  background: none;
  border: none;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  padding: 0;
  margin-right: 10px;
}

/* Layout principal */
.layout {
  display: flex; /* Crea un diseño en fila */
  height: 100vh; /* Usa toda la altura de la pantalla */
}

/* Barra lateral */
app-menu {
  box-sizing: border-box; /* Evita que el padding altere el tamaño */
  position: fixed; /* Fija la barra lateral */
  left: 0; /* Alineación a la izquierda */
  top: 0; /* Alineación al top */
}

/* Contenedor de notificaciones */
.notifications-container {
  width: 96%; /* Ancho completo */
  background-color: var(--sidebar-bg); /* Fondo verde translúcido */

  padding: 20px;
  border-radius: 8px;
  box-shadow: none; /* Eliminar el cuadro blanco y la sombra */
  overflow-y: auto; /* Permite desplazamiento vertical si el contenido es largo */
  max-height: 80vh; /* Altura máxima para la barra de desplazamiento */
  margin-top: 40px;
  
}

h3 {
  font-size: 1.8em;
  margin-bottom: 20px;
  color: #e0191900;
}

/* Estilos para las notificaciones */
.notification {
  display: flex;
  justify-content: space-between; /* Asegura que los elementos estén distribuidos de manera eficiente */
  align-items: center;
  background-color: #181A22;
  border: 2px solid rgba(255, 255, 255, 0.479);
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: none; /* Eliminar la sombra de las notificaciones */
}

.notification-user {
  display: flex;
  align-items: center;
  width: 30%; /* Reservamos el 30% del ancho para la foto y nombre */
  color: #3b82f6;
}

.notification-avatar {
  width: 50px; /* Ajusta el tamaño que desees */
  height: 50px; /* Este debe coincidir con el ancho para un círculo perfecto */
  border-radius: 50%; /* Hace la imagen circular */
  object-fit: cover; /* Evita distorsión al recortar la imagen */
  object-position: center; /* Centra el recorte */
  margin-left: 10px;
  margin-right: 30px;
}


.notification-date {
  width: 20%; /* Reservamos el 20% del ancho para la fecha */
  text-align: center; /* Centra la fecha */
}

.notification-message {
  width: 45%; /* El 45% restante es para el mensaje */
  padding-left: 10px; /* Espacio entre la fecha y el mensaje */
}

.notification-message p {
  margin: 0;
  color: #b1afaf;
  font-size: 1em;
}

.notification-date span {
  color: #b1afaf;
  font-size: 0.9em;
}

/* Ajustes específicos de estilo */
.layout {
  display: flex;
  height: 100vh; /* Usa toda la altura de la pantalla */
}

.contenido-principal {
  flex: 1;
  padding: 20px;
  margin-right: 2%;
  margin-left: 15%; /* Espacio para la barra lateral */
  margin-top: 0px;
  background-color: #f4f7f600; /* Fondo claro */
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: auto;
 
}

/* Barra de desplazamiento */
::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento */
  height: 10px; /* Altura de la barra de desplazamiento horizontal */
}

/* Pista de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background-color: #f1f1f100; /* Color de la pista (fondo de la barra) */
  border-radius: 10px; /* Bordes redondeados de la pista */
}

/* Deslizador (thumb) de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: #25cc9400; /* Color del deslizador */
  border-radius: 10px; /* Bordes redondeados del deslizador */
  border: 2px solid #ffffff00; /* Borde blanco alrededor del deslizador */
}

/* Cuando el deslizador se activa (cuando el usuario está deslizándose) */
::-webkit-scrollbar-thumb:hover {
  background-color: #4826e200; /* Color del deslizador cuando se está usando */
}

/* Estilos para el botón de eliminar */
.delete-btn {
  background: none;
  border: none;
  color: white;
  font-size: 1.5em; /* Ajusta el tamaño del ícono */
  cursor: pointer;
  padding: 0;
  margin-right: 10px;
  margin-left: 20px;
}


.modal-dialog {
  margin-top: 300px; /* Ajusta el valor según tus necesidades */
}