.page-title-container {
    background: var(--active-color);
    width: 80%; /* Ocupar el 85% del ancho */
    margin-left: 17%; /* Dejar espacio para la barra lateral */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para darle un mejor estilo */
    border-radius: 5px; /* Bordes redondeados */
    position: fixed;
    margin-top: 5%;
   
    
  
  }
  